.App {
  background-color:#d5ddce ;
  text-align: center;
  color:rgb(94, 76, 76);
  position:relative;
  border-radius: 20px;
  margin:1rem;
}

.App-link {
  color: #61dafb;
}

.penguinHome {
  width:30em
}

.header {
  background-color:#d5ddce;
  text-align: center;
  color:rgb(94, 76, 76);
  position:relative;
  border-radius: 20px;
  margin:1rem;
}

h1.pengHead {
  /* font-weight: 900; */
  /* font-size: 5em; */
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.credits {
  background-color:#d5ddce;
  text-align: center;
  color:rgb(94, 76, 76);
  position:relative;
  border-radius: 20px;
  margin:1rem;
}

.Navbar {
  background-color:#d5ddce;
  text-align: center;
  font-size: large;
  color:rgb(94, 76, 76);
  position:relative;
  border-radius: 20px;
  margin:1rem;
  /* margin-bottom:1rem;
  padding-bottom:1rem; */
}

a.Links:link { 
  text-decoration: none; 
}

a.Links:hover { 
  background-color: rgba(28, 127, 241, 0.351);
}
a.Links:active { 
  text-decoration: underline; 
}

.Links {
  background-color: rgba(33, 237, 255, 0.351);
  display: inline-grid;
  margin: 0.3rem;
  justify-items: center;
  position:relative;
  border-radius: 20px;
  transition-property:background-color;
  transition-duration:0.5s;
  animation: append-animate .5s linear;
}
