.App {
  background-color:#d5ddce ;
  text-align: center;
  color:rgb(94, 76, 76);
  position:relative;
  border-radius: 20px;
  margin:1rem;
}

.App-link {
  color: #61dafb;
}

.Navbar {
  background-color:#d5ddce;
  text-align: center;
  color:rgb(94, 76, 76);
  position:relative;
  border-radius: 20px;
  margin:1rem;
  margin-bottom:1rem;
  padding-bottom:1rem;
}

.header {
  background-color:#d5ddce;
  text-align: center;
  color:rgb(94, 76, 76);
  position:relative;
  border-radius: 20px;
  margin:1rem;
}

h1.pengHead {
  /* font-weight: 900; */
  /* font-size: 5em; */
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.home {
  display: inline-grid;

}

.credits {
  background-color:#d5ddce;
  text-align: center;
  color:rgb(94, 76, 76);
  position:relative;
  border-radius: 20px;
  margin:1rem;
}

.Links {
  background-color: rgba(33, 237, 255, 0.351);
  /* width: 1em;
  height: 2em; */
  display: inline-grid;
  margin: 0.3rem;
  justify-items: center;
  position:relative;
  border-radius: 20px;
  transition-property:background-color;
  transition-duration:0.5s;
  animation: append-animate .5s linear;
}
