.App {
  background-color:#d5ddce ;
  text-align: center;
  color:rgb(94, 76, 76);
  width: 90em;
  position:relative;
  border-radius: 20px;
  margin:auto;
}

.App-link {
  color: #61dafb;
}

.Navbar {
  background-color:#d5ddce;
  text-align: center;
  color:rgb(94, 76, 76);
  width: 90em;
  position:relative;
  border-radius: 20px;
  margin:auto;
  margin-bottom:1rem;
  padding-bottom:1rem;
}

.header {
  background-color:#d5ddce;
  text-align: center;
  color:rgb(94, 76, 76);
  width: 90em;
  position:relative;
  border-radius: 20px;
  margin:auto;
}

/* .Links {
  background-color: rgba(33, 237, 255, 0.351);
  width: 1em;
  height: 2em;
  display: inline-grid;
  margin: 0.3rem;
  justify-items: center;
  position:relative;
  border-radius: 20px;
  transition-property:background-color;
  transition-duration:0.5s;
  animation: append-animate .5s linear;
} */
