.penguins {
  text-align: center;
  color:rgb(94, 76, 76);
}

.penguins-logo {
  height: 40vmin;
  pointer-events: none;
}

.penguins-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.penguins-link {
  color: #61dafb;
}

.card {
  background-color: rgba(187, 97, 24, 0.351);
  width: 20em;
  display: inline-grid;
  margin: 0.3rem;
  justify-items: center;
  position:relative;
  border-radius: 20px;
  transition-property:background-color;
  transition-duration:0.5s;
  animation: append-animate .5s linear;
}

button {
  border-radius: 5px;
  margin: 0.3rem;
}

.card:hover {
  background-color:rgba(83, 255, 235, 0.436) ;
}

.cardImage {
  height: 20rem;
  width: 13rem;
  border-radius: 20px;
  transition-property: all;
  transition-duration: 0.5s;
}

.penguinsNew {
  justify-items: left;
}